p {
    color: rgb(255, 225, 244)
}
body {
    background-color: cadetblue;
    color: rgb(0, 0, 0);
}
h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
}
p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.column {
    flex: 1;
    padding: 10px;
}
@media (max-weidth: 600px) {
    .column {
        flex: 100%;
    }
}
.box {
    background-color: aliceblue;
    width: 400px;
    height: 200px;
    margin: 30px;
    padding: 20px;
    border: 5px solid aquamarine
}