body {
    background: beige;
}
.Caja1 {
    border: 1px solid darkkhaki;
    background-color: coral;
    width: 120px;
    height: 120px;
    margin: 5px;  
}
.Caja2 {
    border: 1px solid darkkhaki;
    background-color: cornflowerblue;
    width: auto;
    height: 120px;
    margin: 5px;    
}
.Caja3 {
    border: 1px solid darkkhaki;
    background-color: darkgreen;
    width: 120px;
    height: 120px;
    margin: 5px;
}